 body {
    background-color: #1e1e2f;
    color: white;
 font-style: italic;
    margin: 0;
    font-size: 30px;
}

header {
    background-color: #27293d;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}
.contenido {
    padding: 20px;
    text-align: center;
}
audio{
  width: 400px;
  height: 100px;
}

img {
    width: 300px;       /* mismo ancho */
    height: 300px;      /* mismo alto */
    object-fit: cover;  /* no se deforman */
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

footer {
    background-color: #27293d;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

 
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
}
p{
  font-size: 28px
}
.equipo {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    flex-wrap: wrap;
}

.persona img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.persona a {
    display: inline-block;
    margin-top: 5px;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

.persona a:hover {
    color: red;
    text-decoration: underline;
}
 